# Compiled class files & archives
*.class
*.jar
*.war
*.ear

# KUI build & cache artifacts
build/
.kui/
.kui/build/
.kui/cache/

# IDE & Editor artifacts
.idea/
*.iml
.vscode/

# Log & crash files
*.log
hs_err_pid*
replay_pid*

# Kotlin persistent compiler data
.kotlin/

# WiX Toolset artifacts
.wix/
*.wixpdb
dist/staging/

# Rust build artifacts
target/
Cargo.lock